<p>
    This is the Verification Link you have to click on to verify your Email Two <a href="http://ec2-54-92-65-82.ap-northeast-1.compute.amazonaws.com/schoolmaster/std/crmProspects/verifyConfirmEmail/emailTwo/<%= emailToken %>"><%= "http://ec2-54-92-65-82.ap-northeast-1.compute.amazonaws.com/schoolmaster/std/crmProspects/verifyConfirmEmail/emailTwo/"+emailToken %></a>
    <br/>
    Thanks
</p>