<p>
    This is the Verification Link you have to click on to verify your Email One <a href="http://ec2-54-92-65-82.ap-northeast-1.compute.amazonaws.com/schoolmaster/std/crmProspects/verifyConfirmEmail/emailOne/<%= emailToken %>"><%= "http://ec2-54-92-65-82.ap-northeast-1.compute.amazonaws.com/schoolmaster/std/crmProspects/verifyConfirmEmail/emailOne/"+emailToken %></a>
    <br/>
    Thanks
</p>