<p>
    This is the Verification Link you have to click on to verify your username <a href="http://ec2-54-92-65-82.ap-northeast-1.compute.amazonaws.com/schoolmaster/std/users/verifyUsername/<%= emailToken %>"><%= "http://ec2-54-92-65-82.ap-northeast-1.compute.amazonaws.com/schoolmaster/std/users/verifyUsername/"+emailToken %></a>
    <br/>
    Thanks
</p>